.header {
  background-color: cadetblue;
  padding: 20px;
  width: 100%;
}

.root-level{
  display: flex;
  min-height: 100vh;
  flex-direction:column
}

.main{
 flex: 1
}

.logout {
  float: right !important;
}